<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-button>Back</ion-button>
      </ion-buttons>
      <ion-title>
        Activity
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>Next</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-progress-bar color="success" value="0.1" buffer="0.5"></ion-progress-bar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <span>Brownie</span>
    </ion-item>
  
    <ion-card-content text-center>
      <img src="assets/image/brownie_001.jpg">
    </ion-card-content>
    
    <ion-item lines="none">
      <span text-wrap><b>Dessert:</b> Brownie</span>
      <ion-icon color="success" name="checkmark-circle"></ion-icon>
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Ingridients
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
      <ion-list>
        <ion-item lines="none">
          <ion-label>Ingridient Ingridient Ingridient 001</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ingridient 002</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ingridient 003</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ingridient 004</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ingridient 005</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Menu description
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
      Desc;
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Pressets
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
      presst;
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Accompaniments
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
      accomp;
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Cook Time
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
      timer;
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Questions to ask
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
        Would you like chocolate, r caramel sauce on top?
    </ion-item>
  
    <ion-item-divider color="primary">
      <ion-label>
          Upsells
      </ion-label>
    </ion-item-divider>
  
    <ion-item lines="none">
        Ice cream ("a la mode")
    </ion-item>
  
  </ion-content>