<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Menu Card</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Title<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="item.Title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description<ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea required [(ngModel)]="item.Description" rows="6"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
